* {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    /* border: 2px solid red; */
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    width: 30%;
    height: 10vh;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .btns {
    /* border: 2px solid blue; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.myBtn {
    background: transparent !important;
    color: black;
    border: none;
}

.myBtn:hover{
    background: transparent !important;
    color: black;
    border: none;
    box-shadow: 0px 0px 6px 0pc black;
    transition: .4s;
}

/* ------Popup Message--- */
.popup {
    /* border: 2px solid yellow; */
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .4);
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup .popupMessage {
    border: none;
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 10px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    background: white;
}


.popup .popupMessage h3{
    border: 1px solid black;
    width: 100%;
    border-radius: 4px;
    background: rgb(31, 31, 31);
    color: white;
    
}


/* --------sideBar Message------- */
.sideBar{
    /* border: 2px solid yellow; */
    width: 30%;
    height: 92vh;
    background: rgba(0, 0, 0, .4);
    z-index: 3;
    position: absolute;
    top: 8vh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: moveLeftToRight 2s;
}



.sideBarMessage{
    border: none;
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 10px;
    width: 96%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    background: white;
}


@keyframes moveLeftToRight {
    from{
        left: -100vh;
    }
    to{
        left: 0vh;
    }
}
@keyframes moveRightToLeft {
    from{
        left: 0vh;
    }
    to{
        left: -100vh;
    }
}